.login_page{
    height: 100vh;
}
.login_container{
    height: 100%;
    width: 100%;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/src/images/loginbg.jpg"); */
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_container{
    width: 450px;
    padding: 35px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #ffffff;
    box-shadow:  0px 0px 5px 3px #e4e4e4;
}
form{
    margin: 0 auto;
    width: 100%;
}
.form_container h1{
    text-align: center;
    margin: 0;
}
.form_container p{
    text-align: center;
}
.form_container label{
    font-weight: 500;
    color: #4e504f;
}
.form_container input{
    border: #809bba 1px solid;
    margin: 5px auto 20px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    background-color: #e8f0fd;
    color: #000000;
}
.form_container input{
    outline: #90a8f0 2px solid;
}

.form_container input[type=checkbox]{
    height: 15px;
    width: 15px;
    outline: noney;
}
.form_container input[type=checkbox]:checked{
    color: #2b5ba2;
    outline: none;
}
.form_container .signBtn{
    box-sizing: border-box;
    font-weight: 600;
    font-size: 16px;
    width: 100%;
    margin-top: 15px;
    padding: 13px;
    color: #ffffff;
    border: none;
    background: #214882;
    border-radius: 5px;
    cursor: pointer;
}
.form_container .signBtn:hover{
    background: #2b5ba2;
}
p a{
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}
.image_container{
    width: 40%;
}
.image_container img{
    width: 100%;
    height: 90%;
}

@media screen and (max-width: 550px){
    .form_container{
        width: 95%;
        padding: 35px 25px;
    }
}