.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 25px;
    background-color: #ffffff;
}
.icon_container{
    display: flex;
    justify-content: center;
}
.icon_container div{
    margin-right: 10px;
}