.clients{
    margin: 15px;
}
tr,
td {
    border-color: #9ca4a4;
}

.clients_th {
    text-align: left;

}

.clients .error {
    text-align: center;
    color: red;
    font-weight: 600;
}

.clients_container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.clients_table {
    width: 100%;
    border-spacing: 15px;
}

.clients_card_image {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.clients_card_image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
@media screen and (max-width:768px){
    .clients{
        margin: 10px;
    }
    .clients_card_image img{
        width: 40px;
        height: 40px;
    }
    .clients_container{
        padding: 0px;
    }
    .clients_table{
        font-size: 14px;
    }
    .email_body, .phone_body, .gender_body{
        font-size: 12px;
    }
    .clients_th{
        font-size: 12px;
    }
}
@media screen and (max-width:528px){
    .phone_body, .phone_heading, .gender_heading, .gender_body{
        display: none;
    }
    .clients_th{
        font-size: 14px;
    }
}