.teams{
    margin: 15px;
}
tr,
td {
    border-color: #9ca4a4;
}
.teams_th {
    text-align: left;

}
.team .error {
    text-align: center;
    color: red;
    font-weight: 600;
}

.team_container {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.team_table {
    width: 100%;
    border-spacing: 15px;
}

.teams_card_image {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.teams_card_image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}