.sidebar{
    position: sticky;
    top: 0;
    flex: 1;
    height: 100vh;
    background: #000000;
    color: #9a9a9a;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0px;
    font-size: 14px;
}
.links_container{
    margin-top: 10px;
}
.links_container .logo_container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.line_container .logo_container img{
    width: 100%;
}
.links_container ul{
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}

.links_container li{
    text-decoration: none;
    list-style: none;
    margin: 10px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.links_container li a{
    text-decoration: none;
    padding: 0px 25px;
    color: #9a9a9a;
    display: flex;
    align-items: center;
    width: 100%;
}
.links_container a:hover{
    color: #ffffff;
    border-left: #ffffff 2px solid;
}
.links_container li svg{
    height: 16px;
    margin-right: 20px;
}
.links_container a.selected{
    color: #ffffff;
    border-left: #ffffff 2px solid;
}
.links_container .selected:hover{
    color: #9a9a9a;
}
.links_container li:hover{
    color: #ffffff;
}
.line_container{
    height: 2px;
    width: 100%;
    color: #ffffff;
}
.logout_container{
    
    margin-bottom: 20px;
    cursor: pointer;
    color: #ffffff;
}
.logout_container a{
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #fff;
    text-decoration: none;
}
.logout_container svg{
    margin-right: 20px;
}
.logout_container p{
    font-weight: 600;
}
.logout_container a:hover{
    color: #9a9a9a;
}
