.dashboard{
    width: 100%;
    box-sizing: border-box;
}
.features{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.featureItem{
    flex: 1;
    margin: 0px 20px;
    cursor: pointer;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.featureTitle{
    font-size: 12px;
}
.featureMoneyContainer{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.featureMoney{
    font-size: 30px;
    font-weight: 600;
}
.featureMoneyRate{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.featureIcon{
    font-size: 14px;
    margin-left: 5px;
    color: green;
}
.featureIcon.negative{
    color: red;
}
.featureSub{
    font-size: 15px;
    color: gray;
}
.chart{
    margin: 20px;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
}
.chartTitle{
    margin-bottom: 20px;
}
.dashboard_widget{
    display: flex;
    margin: 20px;
}
.small_widget{
    flex: 1;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    margin-right: 20px;
}
.small_widget h3{
    margin-bottom: 20px;
}
.event{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    border-top: 1px solid #9ca4a4;
    cursor: pointer;
}
.event:hover{
    box-shadow: inset 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.event.last{
    border-bottom: 1px solid #9ca4a4;
}
.event_date{
    display: flex;
    align-items: center;
    margin-right: 20px;
    text-transform: uppercase;
    color: #495050;
}
.eventIcon{
    color: #214882;
    margin-right: 10px;
}
.event_title{
    font-weight: 700;
}
.event_button{
    margin-top: 25px;
    padding: 15px 20px;
    border-radius: 10px;
    width: 60px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background-color: #214882;
}
.large_widget{
    flex: 2;
    padding: 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
.widget_table{
    width: 100%;
    border-spacing: 20px;
}
.widget_th{
    text-align: left;
}
.widget_table .content:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.5s ease;
    box-shadow:  0 0 5px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 5px  rgba(0,0,0,0.6);
}
.widget_table_user{
    display: flex;
    align-items: center;
    font-weight: 600;
}
.widget_img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.widget_date, .widget_amount{
    font-weight: 300;
}
.widget_status div{
    width: 70px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;    
}
.widget_status .inactive{
    color: #fff;
    background-color: #9ca4a4;
}
.widget_status .active{
    color: #fff;
    background-color: #214882;
}
@media screen and (max-width:992px){
    .features{
        width: 100%;
        flex-wrap: wrap;
    }
    .featureItem{
        padding: 15px;
        margin: 0px 10px;
        width: 100%;
    }
    .dashboard_widget{
        flex-direction: column;
    }
    .recharts-responsive-container{
        width: 50%;
    }
}
