.footer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    box-sizing: border-box;
}
.footer span{
    font-weight: 600;
}
@media screen and (max-width: 550px){
    .footer{
        display: block;
        text-align: center;
    }
    
}